/* 실습 2번 */
/* * {
  background-color: gray;
}

div {
  color: white;
}
span {
  background-color: red;
}
#first {
  background-color: blue;
}
.second {
  background-color: green;
} */

/*실습 3번*/
/* p.lion {
  background-color: red;
}
#tiger {
  background-color: yellow;
}
ul > span.lion {
  background-color: greenyellow;
  font-weight: bold;
}
li.lion {
  background-color: greenyellow;
  font-weight: bold;
}
.lion {
  color: sienna;
}
#tiger + li {
  background-color: skyblue;
}
.zoo li.lion ~ li {
  background-color: orange;
}

a:hover {
  color: red;
}
a:active {
  background-color: blue;
}
input:focus {
  background-color: orange;
} */

/*실습 4번*/
/* div.stripes div:nth-child(2n + 1) {
  color: white;
  background-color: navy;
}
div.stripes div:nth-child(2n) {
  background-color: yellow;
} */

/* 실습5번 */
/* .box::before {
  content: "택시";
}
.box::after {
  content: "빨리";
} */

/* 실습6 */
input[disabled] {
  background-color: red;
}
input[placeholder="이름"] {
  background-color: orange;
}
input[value] {
  background-color: blue;
}
