<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= data.name%>님 정보입니다.</h1>
    <div>
      <p>성별 : <%= data.gender%></p>
      <p>전공 : <%= data.major%></p>
    </div>
    <a href="/member">목록보기</a>
    <a href="/add-member">회원 추가</a>
  </body>
</html>
