<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div>Socket IO</div>

    <button onclick="hello()">hello</button>
    <button onclick="study()">study</button>
    <button onclick="bye()">bye</button>
    <p id="from-data"></p>

    <script>
      const socket = io();
      const data = document.querySelector("#from-data");
      function hello() {
        socket.emit("hello", { name: "client", message: "hello" });
        socket.on("cbHello", (res) => {
          msg(res);
        });
      }
      function study() {
        socket.emit("study", { name: "client", message: "study" });
        socket.on("cbStudy", (res) => {
          msg(res);
        });
      }
      function bye() {
        socket.emit("bye", { name: "client", message: "bye" });
        socket.on("cbBye", (res) => {
          msg(res);
        });
      }
      function msg(res) {
        data.textContent = `${res.name} : ${res.message}`;
      }
    </script>
  </body>
</html>
