<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FORM 전송</title>
  </head>
  <body>
    <h4>GET</h4>
    <form action="/getForm" method="GET">
      <input type="text" name="id" placeholder="id" required /><br />
      <input type="password" name="pw" placeholder="pw" required /><br />
      <button type="submit">제출</button>
    </form>
    <hr />
    <h4>POST</h4>
    <form action="/postForm" method="POST">
      <input type="text" name="id" placeholder="id" /><br />
      <input type="password" name="pw" placeholder="pw" /><br />
      <button type="submit">제출</button>
    </form>
    <!-- readonly : 선택안됨, 백엔드 데이터 전송 가능
    disables : 선택안됨, 백엔드 데이터 전송 불가능 -->
  </body>
</html>
