<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>POST 실습</h1>
    <form onsubmit="login(event)" name="login-form">
      <label for="username">아이디</label>
      <input type="text" id="username" required />
      <br />
      <label for="password">패쓰워드</label>
      <input type="password" id="password" required />
      <br />
      <button type="submit">로그인</button>
    </form>
    <br />
    <div class="result"></div>
    <script>
      const resultBox = document.querySelector(".result");
      //코드 실습

      function login(e) {
        e.preventDefault(); //기본 제출 동작을 막음
        //폼 데터 가져오기
        const form = document.forms["login-form"];
        //백엔드로 보낼 데이터
        const data = {
          username: form.username.value,
          password: form.password.value,
        };

        axios({
          method: "POST",
          url: "/resultPost",
          data,
        }).then((res) => {
          console.log(res.data);
          if (res.data.result) {
            resultBox.textContent = `${res.data.userInfo.id}님 환영합니다.`;
          } else {
            resultBox.textContent = "아이디, 비밀번호가 틀렸습니다.";
          }
        });
      }

      //button에 onclick 줬을 때
      // const resultBox = document.querySelector(".result");

      // async function axiosPost() {
      //   const data = {
      //     id: document.getElementById("username").value,
      //     pw: document.getElementById("password").value,
      //   };

      //   try {
      //     const response = await axios.post("/resultPost", data);
      //     const result = response.data;

      //     if (result === "success") {
      //       resultBox.textContent = `로그인 성공`;
      //       resultBox.style.color = "blue";
      //     } else {
      //       resultBox.textContent = `로그인 실패`;
      //       resultBox.style.color = "red";
      //     }
      //   } catch (error) {
      //     console.error("로그인 요청 에러:", error);
      //     resultBox.textContent = `로그인 실패`;
      //     resultBox.style.color = "red";
      //   }
      // }
    </script>
  </body>
</html>
