<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/abc">도메인1</a><a href="/def">도메인2</a><a href="/ghi">도메인3</a>
  </body>
</html>
