<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul></ul>
    <form id="chat">
      <input type="text" id="user" placeholder="이름" />
      <input
        type="text"
        id="message"
        placeholder="메세지를 입력하세요."
      /><br /><br />
      <button>채팅</button>
    </form>

    <script>
      const socket = new WebSocket("ws://localhost:8000");

      //form 가져오기
      const chatForm = document.querySelector("#chat");
      //ul 가져오기
      const ul = document.querySelector("ul");

      //서버연결
      socket.addEventListener("open", (event) => {
        socket.send(
          JSON.stringify({ message: "hello, server", user: "client" })
        );
        console.log("서버에 연결되었습니다");
      });

      //메세지 주고 받음
      socket.addEventListener("message", (event) => {
        // console.log(event);
        // console.log(`서버로부터 받은 메세지 : ${event.data}`);
        const li = document.createElement("li");
        li.textContent = event.data;
        ul.appendChild(li);
      });

      //오류발생
      socket.addEventListener("error", (event) => {
        console.error("오류가 발생했습니다:", event.error);
      });

      //종료
      socket.addEventListener("close", (event) => {
        console.log("서버와 연결이 종료되었습니다.");
      });

      ///////////////////////////form 이벤트//////////////////////////////

      chatForm.addEventListener("submit", (event) => {
        event.preventDefault();

        const user = chatForm.querySelector("#user");
        const msg = chatForm.querySelector("#message");
        socket.send(JSON.stringify({ user: user.value, message: msg.value }));
        msg.value = "";
        user.value = "";
      });
    </script>
  </body>
</html>
